<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<bean id="character1"
		class="edu.wccnet.wggreen.cps278_mp2_xml.Character">
		<property name="name" value="Tom Nook"></property>
		<property name="fightingPower" ref="fireball"></property>
	</bean>
	<bean id="character2"
		class="edu.wccnet.wggreen.cps278_mp2_xml.Character">
		<property name="name" value="KK Slider"></property>
		<property name="fightingPower" ref="masterSword"></property>
	</bean>
	<bean id="EndorBattleGround"
		class="edu.wccnet.wggreen.cps278_mp2_xml.EndorBattleGround" />

	<context:component-scan
		base-package="edu.wccnet.wggreen.cps278_mp2_xml;"></context:component-scan>
	<context:annotation-config></context:annotation-config>
</beans>
